.body-wrap {
	background: $background-404 center fixed no-repeat;
	background-size: cover;
}
.page-header--error{
	background: none;
}
.wrap--error {
	@include flex-parrent (column, center, center);
	margin: 0 20px;
	text-align: center;
}
.error-page__title {
	color: $primary-color;
	line-height: 1;
	letter-spacing: 10px;
	font-size: $font-size-404;
}
.error-page__info{
	&-title{
		color: $primary-color__title;
		font-size: $font-size-404 / 3;
		margin: 20px 0;
	}
	&-text{
		color: $primary-color__white;
		font-size: $font-size__small-title;
	}
	&-link{
		width: 100%;
	    height: auto;
	    padding: 15px;
	    line-height: $primary-line-height;
		}
}
@media (min-width: 740px){
	.wrap--error{
		flex-direction: row;
	}
	.error-page__title{
		font-size: $font-size-404 * 2;
	}
	.error-page__info{		
		padding-left: 40px;
		margin-left: 40px;
		border-left: 1px solid $primary-color;
		&-title {
			font-size: $font-size-404 / 2;	
		}
	    &-text, &-link{
		font-size: $font-size__small-title;	
		}
	}
}
@media (min-width: 1300px){
	.error-page__title{
		font-size: $font-size-404 * 3;
	}
	.error-page__info{		
		padding-left: 100px;
		margin-left: 100px;
	    &-title{
			font-size: $font-size-404;
		}
	    &-text, &-link{
			font-size: $font-size__title;
		}
	}
}