.feedback__post{
    display: block !important;
}
.feedback__text{
	@extend .page-header__main-text;
	max-width: 100%;
	&:before{
		display: block;	
		content: '';
		@include sprite($quote);
	}
}
.feedback__img{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	background-color: #fff;
	& img{
		width: 100%;
	}
}
.feedback__name{
	display: inline-block;
	margin: 35px 5px 0 15px;
    color: $primary-color;
    font-weight:$font-weight-medium
}
.feedback__proffesion{
	@extend .feedback__name;
	margin: 0 0 0 15px;
	font-weight: $font-weight-light;
}