.feedback__post{
    display: block !important;
    margin: 0 30px;
}
.feedback__text{
	font-size: $font-size__bigger;
	line-height: $text-line-height;
	height: 150px;
	overflow: hidden;
	// margin: 0 10px;
	color: $primary-color__menu;
	&:before{
		display: block;	
		content: '';
		@include sprite($quote);
	}
}
.feedback__img{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	background-color: #fff;
	& img{
		width: 100%;
	}
}
.feedback__name{
	display: inline-block;
	margin: 35px 5px 0 15px;
    color: $primary-color;
    font-weight:$font-weight-medium
}
.feedback__proffesion{
	@extend .feedback__name;
	margin: 0 0 0 15px;
	font-weight: $font-weight-light;
}