.page-footer{
	background: $background-footer-img center no-repeat;
	background-size: cover;
	paddin-top: 100px;
	margin-top: -50px;
	@media (min-width: 1300px){
		padding-top: 260px;
		margin-top: -130px;
	}
}
.footer-bottom--wrap{
	background-color: $background-footer;
	margin-top: 150px;
	padding: 20px 15px;
	@include flex-parrent (column-reverse, space-between, center);
	@media (min-width: 740px){
		flex-direction: row;
		padding: 10px 30px;
	}
	@media (min-width: 1300px){
		padding: 15px 100px;
	}
}
.footer-text{
	@extend .page-header__main-text;
}
.footer--icon-soc_vk{
	padding: 10px 10px;
	&:before {
		content: '';
		display: inline-block;	
		@include sprite($vk);
	}
	&:hover::before{
		@include sprite($vk-hover);
	}
}
.footer--icon-soc_tw{
	@extend .footer--icon-soc_vk;
	&:before{
		@extend .footer--icon-soc_vk:before;
		@include sprite($twitter);
	}
	&:hover::before{
		@include sprite($twitter-hover);
		background-position: -795px -97px;
	}
}
.footer--icon-soc_fb{
	@extend .footer--icon-soc_vk;
	&:before{
		@extend .footer--icon-soc_vk:before;
		@include sprite($fb);
	}
	&:hover::before{
		@include sprite($fb-hover);
	}
}
.footer-tel{
	@extend .page-header__main-text;
	font-size: $font-size__toure--title;
	font-weight: $font-weight-bold;
	line-height: 2;
	margin: 10px 0; 
	border-bottom: 2px solid transparent;
	&:hover{
		border-bottom: $border-hover;	
	}
}
