.page-header--index, .page-header__top{
	background: $primary-color $background-header 5% 20% no-repeat;
	background-size: 250%;	
		@media (min-width: 1300px){
			background-position: center;	
			background-size: cover;	
		}
}
.page-header--about-us{
	@extend .page-header--index;
	background: $primary-color $background-header_about-us 50% 15% no-repeat;
}
.page-header--toure{
	@extend .page-header--index;
	background: $primary-color $background-header_toure 25% 15% no-repeat;
}
.page-header, .page-header__top{
	&__top{
		background: rgba(255, 255, 255, 0.5);
		padding: 20px 0;
		&-wrap{
			display: flex;
			justify-content: space-between;
		}
	}
	&__logo:before{
		display: inline-block;	
		content: '';
		@include sprite($logo);
	}
	& li{
		display: block;
		@media (min-width: 740px){
			display: inline-block;
		}
	}
	&__main-wrap{
		@include flex-parrent(column,  flex-start, center);
		padding: 100px 0;
		text-align: center;
		@media (min-width: 1300px){
			align-items: stretch;
			background: $background-header-border 0 50% no-repeat;
			background-size: 100%;	
			padding: 20px;
			text-align: left;
			margin: 130px 0 40px;
		}
	}
	&__main-title{
		@include block__title($font-size__form--title, 0, $primary-color__white,
			$text-upper);
		margin: 0;
		@media (min-width: 1300px){
			font-size: $font-size50;
		}
	}
	&__main-text{
		font-size: $font-size__bigger;
		color: $primary-color__menu;
		line-height: $line-height--middle;
		@media (min-width: 740px){
			max-width: 715px;
		}
		@media (min-width: 1300px){
			max-width: 600px;
		}
	}
	&__main-logo:before{
		display: inline-block;
		content: '';
		@include sprite($logo-middle);
		@media (min-width: 1300px){
			@include sprite($logo-big);
		}
	}
}
.wrap--header{
	padding: 0 15px;
	margin: 0;
	@media (min-width: 740px){
	    padding: 0 30px;
	}
	@media (min-width: 1300px){
		padding: 20px 100px;
	}
}
.menu{
	display: none;
	width: 33.3%;
	&__link{
		display: block;
		padding: 16px 0;
		font-weight: $font-weight-bold;
		font-size: $font-size__menu;
		&:hover{
			border-bottom: $border-hover;
		}
		@media (min-width: 740px){
			padding: 15px;
		}
	}
}
.current-page{
	@extend.menu__link;
	color: $primary-color;
	border-bottom: $border-hover;
}
.btn-menu{
	@include block__title($font-size__menu, 0, $primary-color,$text-upper);
	font-weight: $font-weight-bold;
	position: absolute;
	left: calc(50% - 22px);
	margin-top: 18px;
	&:hover{
    	border-bottom: $border-hover;
    }
	// &:hover ~ .menu, .menu:hover {
	// 	display:inline-block;
	// 	background: rgba(255, 255, 255, .4 );
	// 	text-align: center;
	// 	text-transform: $text-upper;
	// 	position: absolute;
	// 	left: 33%;
	// 	top: 57px;
	// }
}
.btn-menu:hover ~ .menu, .menu:hover {
	display:inline-block;
	background: rgba(255, 255, 255, .4 );
	text-align: center;
	text-transform: $text-upper;
	position: absolute;
	left: 33%;
	top: 57px;
}
@media (min-width: 1300px){
	.menu{
		flex-basis: 800px;
		display: inline-block;
		text-transform: $text-upper;
		&:hover{
			position: static;
			text-align: left;
		}
	}
	.btn-menu{
		display: none;
	}
}
