.journal-post{
	box-shadow: none;
	text-align: center;
	// position: relative;
	&:hover{box-shadow: $box-shadow; transition: 0.5s ease;}
	&:hover &__img-wrap--heart:before{
		@include sprite($heart-hover);
	}
	&:hover &__img-wrap--leaf:before{
		@include sprite($leaf-hover);
	}	
	&:hover &__img-wrap--drop:before{
		@include sprite($drop-hover);
	}	
	&__img-wrap{
		@include flex-parrent(row, center, center);
		overflow: hidden;
		max-height: 370px;
		position: relative;
		flex-basis: 50%;
		height: 50%;
		&--heart{
			&:before{
				@include journal-icon($heart);
				top: calc(50% - 40px);
				left: calc(50% - 40px);
			}
		}
		&--leaf{
			&:before{
				@include journal-icon($leaf);
				top: calc(50% - 32px);
				left: calc(50% - 32px);
			}
		}
		&--drop{
			&:before{
				@include journal-icon($drop);
				top: calc(50% - 37px);
				left: calc(50% - 30px);
			}
		}
	}
	&__title{
		@include block__title($font-size__middle, 0, 
			$primary-color__title, $text-upper);
			letter-spacing: 1px;
			margin-bottom: 25px; 
	}
}
.content-subtitle{
	@include block__title($font-size__the-smallest, 0, 
		$primary-color, $text-upper);
	margin: 50px 0;
	font-weight: bold;
}
.small-text{
	@extend %text;
	line-height: $line-height--middle;
	padding: 0 50px 50px;
}
@media (min-width: 740px){
	.journal__content-wrap{
		display: flex;
		flex-wrap: wrap;
	}
	.journal-post{
		&__heart{
		flex-basis: 50%;
		}
		&__leaf{
			@extend .journal-post__heart;
			display: flex;
			flex-direction: column-reverse;
		}
		&__drop{
			display: flex;
		}
		&__content{
	   		flex-basis: 50%;
	   	}
		&__img-wrap--drop{
			flex-basis: 50%;
			height: 100%;
		}
	   	&__img-wrap img{
			width: 100%;
		}
	}
}
@media (min-width: 1300px){
	.journal-post{
		flex-basis: 33.3%;
		&__drop{
			flex-direction: column;
		}
	}
}