// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$cheap-name: 'cheap';
$cheap-x: 0px;
$cheap-y: 0px;
$cheap-offset-x: 0px;
$cheap-offset-y: 0px;
$cheap-width: 179px;
$cheap-height: 179px;
$cheap-total-width: 858px;
$cheap-total-height: 358px;
$cheap-image: 'sprite.png';
$cheap: (0px, 0px, 0px, 0px, 179px, 179px, 858px, 358px, 'sprite.png', 'cheap', );
$client-name: 'client';
$client-x: 0px;
$client-y: 179px;
$client-offset-x: 0px;
$client-offset-y: -179px;
$client-width: 179px;
$client-height: 179px;
$client-total-width: 858px;
$client-total-height: 358px;
$client-image: 'sprite.png';
$client: (0px, 179px, 0px, -179px, 179px, 179px, 858px, 358px, 'sprite.png', 'client', );
$drop-name: 'drop';
$drop-x: 417px;
$drop-y: 179px;
$drop-offset-x: -417px;
$drop-offset-y: -179px;
$drop-width: 59px;
$drop-height: 74px;
$drop-total-width: 858px;
$drop-total-height: 358px;
$drop-image: 'sprite.png';
$drop: (417px, 179px, -417px, -179px, 59px, 74px, 858px, 358px, 'sprite.png', 'drop', );
$drop-hover-name: 'drop_hover';
$drop-hover-x: 358px;
$drop-hover-y: 179px;
$drop-hover-offset-x: -358px;
$drop-hover-offset-y: -179px;
$drop-hover-width: 59px;
$drop-hover-height: 74px;
$drop-hover-total-width: 858px;
$drop-hover-total-height: 358px;
$drop-hover-image: 'sprite.png';
$drop-hover: (358px, 179px, -358px, -179px, 59px, 74px, 858px, 358px, 'sprite.png', 'drop_hover', );
$fb-name: 'fb';
$fb-x: 715px;
$fb-y: 98px;
$fb-offset-x: -715px;
$fb-offset-y: -98px;
$fb-width: 40px;
$fb-height: 41px;
$fb-total-width: 858px;
$fb-total-height: 358px;
$fb-image: 'sprite.png';
$fb: (715px, 98px, -715px, -98px, 40px, 41px, 858px, 358px, 'sprite.png', 'fb', );
$fb-hover-name: 'fb_hover';
$fb-hover-x: 675px;
$fb-hover-y: 98px;
$fb-hover-offset-x: -675px;
$fb-hover-offset-y: -98px;
$fb-hover-width: 40px;
$fb-hover-height: 41px;
$fb-hover-total-width: 858px;
$fb-hover-total-height: 358px;
$fb-hover-image: 'sprite.png';
$fb-hover: (675px, 98px, -675px, -98px, 40px, 41px, 858px, 358px, 'sprite.png', 'fb_hover', );
$guide-name: 'guide';
$guide-x: 179px;
$guide-y: 179px;
$guide-offset-x: -179px;
$guide-offset-y: -179px;
$guide-width: 179px;
$guide-height: 179px;
$guide-total-width: 858px;
$guide-total-height: 358px;
$guide-image: 'sprite.png';
$guide: (179px, 179px, -179px, -179px, 179px, 179px, 858px, 358px, 'sprite.png', 'guide', );
$heart-name: 'heart';
$heart-x: 439px;
$heart-y: 98px;
$heart-offset-x: -439px;
$heart-offset-y: -98px;
$heart-width: 81px;
$heart-height: 81px;
$heart-total-width: 858px;
$heart-total-height: 358px;
$heart-image: 'sprite.png';
$heart: (439px, 98px, -439px, -98px, 81px, 81px, 858px, 358px, 'sprite.png', 'heart', );
$heart-hover-name: 'heart_hover';
$heart-hover-x: 358px;
$heart-hover-y: 98px;
$heart-hover-offset-x: -358px;
$heart-hover-offset-y: -98px;
$heart-hover-width: 81px;
$heart-hover-height: 81px;
$heart-hover-total-width: 858px;
$heart-hover-total-height: 358px;
$heart-hover-image: 'sprite.png';
$heart-hover: (358px, 98px, -358px, -98px, 81px, 81px, 858px, 358px, 'sprite.png', 'heart_hover', );
$leaf-name: 'leaf';
$leaf-x: 476px;
$leaf-y: 179px;
$leaf-offset-x: -476px;
$leaf-offset-y: -179px;
$leaf-width: 65px;
$leaf-height: 65px;
$leaf-total-width: 858px;
$leaf-total-height: 358px;
$leaf-image: 'sprite.png';
$leaf: (476px, 179px, -476px, -179px, 65px, 65px, 858px, 358px, 'sprite.png', 'leaf', );
$leaf-hover-name: 'leaf_hover';
$leaf-hover-x: 541px;
$leaf-hover-y: 179px;
$leaf-hover-offset-x: -541px;
$leaf-hover-offset-y: -179px;
$leaf-hover-width: 65px;
$leaf-hover-height: 65px;
$leaf-hover-total-width: 858px;
$leaf-hover-total-height: 358px;
$leaf-hover-image: 'sprite.png';
$leaf-hover: (541px, 179px, -541px, -179px, 65px, 65px, 858px, 358px, 'sprite.png', 'leaf_hover', );
$logo-big-name: 'logo-big';
$logo-big-x: 358px;
$logo-big-y: 0px;
$logo-big-offset-x: -358px;
$logo-big-offset-y: 0px;
$logo-big-width: 500px;
$logo-big-height: 62px;
$logo-big-total-width: 858px;
$logo-big-total-height: 358px;
$logo-big-image: 'sprite.png';
$logo-big: (358px, 0px, -358px, 0px, 500px, 62px, 858px, 358px, 'sprite.png', 'logo-big', );
$logo-middle-name: 'logo-middle';
$logo-middle-x: 358px;
$logo-middle-y: 62px;
$logo-middle-offset-x: -358px;
$logo-middle-offset-y: -62px;
$logo-middle-width: 290px;
$logo-middle-height: 36px;
$logo-middle-total-width: 858px;
$logo-middle-total-height: 358px;
$logo-middle-image: 'sprite.png';
$logo-middle: (358px, 62px, -358px, -62px, 290px, 36px, 858px, 358px, 'sprite.png', 'logo-middle', );
$logo-name: 'logo';
$logo-x: 520px;
$logo-y: 98px;
$logo-offset-x: -520px;
$logo-offset-y: -98px;
$logo-width: 115px;
$logo-height: 48px;
$logo-total-width: 858px;
$logo-total-height: 358px;
$logo-image: 'sprite.png';
$logo: (520px, 98px, -520px, -98px, 115px, 48px, 858px, 358px, 'sprite.png', 'logo', );
$menu-name: 'menu';
$menu-x: 704px;
$menu-y: 69px;
$menu-offset-x: -704px;
$menu-offset-y: -69px;
$menu-width: 16px;
$menu-height: 16px;
$menu-total-width: 858px;
$menu-total-height: 358px;
$menu-image: 'sprite.png';
$menu: (704px, 69px, -704px, -69px, 16px, 16px, 858px, 358px, 'sprite.png', 'menu', );
$quote-name: 'quote';
$quote-x: 648px;
$quote-y: 62px;
$quote-offset-x: -648px;
$quote-offset-y: -62px;
$quote-width: 24px;
$quote-height: 24px;
$quote-total-width: 858px;
$quote-total-height: 358px;
$quote-image: 'sprite.png';
$quote: (648px, 62px, -648px, -62px, 24px, 24px, 858px, 358px, 'sprite.png', 'quote', );
$routs-name: 'routs';
$routs-x: 179px;
$routs-y: 0px;
$routs-offset-x: -179px;
$routs-offset-y: 0px;
$routs-width: 179px;
$routs-height: 179px;
$routs-total-width: 858px;
$routs-total-height: 358px;
$routs-image: 'sprite.png';
$routs: (179px, 0px, -179px, 0px, 179px, 179px, 858px, 358px, 'sprite.png', 'routs', );
$star-name: 'star';
$star-x: 688px;
$star-y: 69px;
$star-offset-x: -688px;
$star-offset-y: -69px;
$star-width: 16px;
$star-height: 16px;
$star-total-width: 858px;
$star-total-height: 358px;
$star-image: 'sprite.png';
$star: (688px, 69px, -688px, -69px, 16px, 16px, 858px, 358px, 'sprite.png', 'star', );
$star-hover-name: 'star_hover';
$star-hover-x: 672px;
$star-hover-y: 69px;
$star-hover-offset-x: -672px;
$star-hover-offset-y: -69px;
$star-hover-width: 16px;
$star-hover-height: 16px;
$star-hover-total-width: 858px;
$star-hover-total-height: 358px;
$star-hover-image: 'sprite.png';
$star-hover: (672px, 69px, -672px, -69px, 16px, 16px, 858px, 358px, 'sprite.png', 'star_hover', );
$twitter-name: 'twitter';
$twitter-x: 606px;
$twitter-y: 179px;
$twitter-offset-x: -606px;
$twitter-offset-y: -179px;
$twitter-width: 40px;
$twitter-height: 41px;
$twitter-total-width: 858px;
$twitter-total-height: 358px;
$twitter-image: 'sprite.png';
$twitter: (606px, 179px, -606px, -179px, 40px, 41px, 858px, 358px, 'sprite.png', 'twitter', );
$twitter-hover-name: 'twitter_hover';
$twitter-hover-x: 795px;
$twitter-hover-y: 98px;
$twitter-hover-offset-x: -795px;
$twitter-hover-offset-y: -98px;
$twitter-hover-width: 40px;
$twitter-hover-height: 41px;
$twitter-hover-total-width: 858px;
$twitter-hover-total-height: 358px;
$twitter-hover-image: 'sprite.png';
$twitter-hover: (795px, 98px, -795px, -98px, 40px, 41px, 858px, 358px, 'sprite.png', 'twitter_hover', );
$vk-name: 'vk';
$vk-x: 755px;
$vk-y: 98px;
$vk-offset-x: -755px;
$vk-offset-y: -98px;
$vk-width: 40px;
$vk-height: 41px;
$vk-total-width: 858px;
$vk-total-height: 358px;
$vk-image: 'sprite.png';
$vk: (755px, 98px, -755px, -98px, 40px, 41px, 858px, 358px, 'sprite.png', 'vk', );
$vk-hover-name: 'vk_hover';
$vk-hover-x: 635px;
$vk-hover-y: 98px;
$vk-hover-offset-x: -635px;
$vk-hover-offset-y: -98px;
$vk-hover-width: 40px;
$vk-hover-height: 41px;
$vk-hover-total-width: 858px;
$vk-hover-total-height: 358px;
$vk-hover-image: 'sprite.png';
$vk-hover: (635px, 98px, -635px, -98px, 40px, 41px, 858px, 358px, 'sprite.png', 'vk_hover', );
$waves-name: 'waves';
$waves-x: 672px;
$waves-y: 62px;
$waves-offset-x: -672px;
$waves-offset-y: -62px;
$waves-width: 81px;
$waves-height: 7px;
$waves-total-width: 858px;
$waves-total-height: 358px;
$waves-image: 'sprite.png';
$waves: (672px, 62px, -672px, -62px, 81px, 7px, 858px, 358px, 'sprite.png', 'waves', );
$spritesheet-width: 858px;
$spritesheet-height: 358px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($cheap, $client, $drop, $drop-hover, $fb, $fb-hover, $guide, $heart, $heart-hover, $leaf, $leaf-hover, $logo-big, $logo-middle, $logo, $menu, $quote, $routs, $star, $star-hover, $twitter, $twitter-hover, $vk, $vk-hover, $waves, );
$spritesheet: (858px, 358px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
