// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$cheap-name: 'cheap';
$cheap-x: 0px;
$cheap-y: 77px;
$cheap-offset-x: 0px;
$cheap-offset-y: -77px;
$cheap-width: 179px;
$cheap-height: 179px;
$cheap-total-width: 805px;
$cheap-total-height: 450px;
$cheap-image: 'sprite.png';
$cheap: (0px, 77px, 0px, -77px, 179px, 179px, 805px, 450px, 'sprite.png', 'cheap', );
$client-name: 'client';
$client-x: 0px;
$client-y: 271px;
$client-offset-x: 0px;
$client-offset-y: -271px;
$client-width: 179px;
$client-height: 179px;
$client-total-width: 805px;
$client-total-height: 450px;
$client-image: 'sprite.png';
$client: (0px, 271px, 0px, -271px, 179px, 179px, 805px, 450px, 'sprite.png', 'client', );
$drop-name: 'drop';
$drop-x: 515px;
$drop-y: 210px;
$drop-offset-x: -515px;
$drop-offset-y: -210px;
$drop-width: 59px;
$drop-height: 74px;
$drop-total-width: 805px;
$drop-total-height: 450px;
$drop-image: 'sprite.png';
$drop: (515px, 210px, -515px, -210px, 59px, 74px, 805px, 450px, 'sprite.png', 'drop', );
$drop-hover-name: 'drop_hover';
$drop-hover-x: 707px;
$drop-hover-y: 51px;
$drop-hover-offset-x: -707px;
$drop-hover-offset-y: -51px;
$drop-hover-width: 59px;
$drop-hover-height: 74px;
$drop-hover-total-width: 805px;
$drop-hover-total-height: 450px;
$drop-hover-image: 'sprite.png';
$drop-hover: (707px, 51px, -707px, -51px, 59px, 74px, 805px, 450px, 'sprite.png', 'drop_hover', );
$fb-name: 'fb';
$fb-x: 755px;
$fb-y: 147px;
$fb-offset-x: -755px;
$fb-offset-y: -147px;
$fb-width: 40px;
$fb-height: 41px;
$fb-total-width: 805px;
$fb-total-height: 450px;
$fb-image: 'sprite.png';
$fb: (755px, 147px, -755px, -147px, 40px, 41px, 805px, 450px, 'sprite.png', 'fb', );
$fb-hover-name: 'fb_hover';
$fb-hover-x: 700px;
$fb-hover-y: 147px;
$fb-hover-offset-x: -700px;
$fb-hover-offset-y: -147px;
$fb-hover-width: 40px;
$fb-hover-height: 41px;
$fb-hover-total-width: 805px;
$fb-hover-total-height: 450px;
$fb-hover-image: 'sprite.png';
$fb-hover: (700px, 147px, -700px, -147px, 40px, 41px, 805px, 450px, 'sprite.png', 'fb_hover', );
$guide-name: 'guide';
$guide-x: 194px;
$guide-y: 271px;
$guide-offset-x: -194px;
$guide-offset-y: -271px;
$guide-width: 179px;
$guide-height: 179px;
$guide-total-width: 805px;
$guide-total-height: 450px;
$guide-image: 'sprite.png';
$guide: (194px, 271px, -194px, -271px, 179px, 179px, 805px, 450px, 'sprite.png', 'guide', );
$heart-name: 'heart';
$heart-x: 611px;
$heart-y: 51px;
$heart-offset-x: -611px;
$heart-offset-y: -51px;
$heart-width: 81px;
$heart-height: 81px;
$heart-total-width: 805px;
$heart-total-height: 450px;
$heart-image: 'sprite.png';
$heart: (611px, 51px, -611px, -51px, 81px, 81px, 805px, 450px, 'sprite.png', 'heart', );
$heart-hover-name: 'heart_hover';
$heart-hover-x: 515px;
$heart-hover-y: 51px;
$heart-hover-offset-x: -515px;
$heart-hover-offset-y: -51px;
$heart-hover-width: 81px;
$heart-hover-height: 81px;
$heart-hover-total-width: 805px;
$heart-hover-total-height: 450px;
$heart-hover-image: 'sprite.png';
$heart-hover: (515px, 51px, -515px, -51px, 81px, 81px, 805px, 450px, 'sprite.png', 'heart_hover', );
$leaf-name: 'leaf';
$leaf-x: 589px;
$leaf-y: 210px;
$leaf-offset-x: -589px;
$leaf-offset-y: -210px;
$leaf-width: 65px;
$leaf-height: 65px;
$leaf-total-width: 805px;
$leaf-total-height: 450px;
$leaf-image: 'sprite.png';
$leaf: (589px, 210px, -589px, -210px, 65px, 65px, 805px, 450px, 'sprite.png', 'leaf', );
$leaf-hover-name: 'leaf_hover';
$leaf-hover-x: 669px;
$leaf-hover-y: 210px;
$leaf-hover-offset-x: -669px;
$leaf-hover-offset-y: -210px;
$leaf-hover-width: 65px;
$leaf-hover-height: 65px;
$leaf-hover-total-width: 805px;
$leaf-hover-total-height: 450px;
$leaf-hover-image: 'sprite.png';
$leaf-hover: (669px, 210px, -669px, -210px, 65px, 65px, 805px, 450px, 'sprite.png', 'leaf_hover', );
$logo-big-name: 'logo-big';
$logo-big-x: 0px;
$logo-big-y: 0px;
$logo-big-offset-x: 0px;
$logo-big-offset-y: 0px;
$logo-big-width: 500px;
$logo-big-height: 62px;
$logo-big-total-width: 805px;
$logo-big-total-height: 450px;
$logo-big-image: 'sprite.png';
$logo-big: (0px, 0px, 0px, 0px, 500px, 62px, 805px, 450px, 'sprite.png', 'logo-big', );
$logo-middle-name: 'logo-middle';
$logo-middle-x: 515px;
$logo-middle-y: 0px;
$logo-middle-offset-x: -515px;
$logo-middle-offset-y: 0px;
$logo-middle-width: 290px;
$logo-middle-height: 36px;
$logo-middle-total-width: 805px;
$logo-middle-total-height: 450px;
$logo-middle-image: 'sprite.png';
$logo-middle: (515px, 0px, -515px, 0px, 290px, 36px, 805px, 450px, 'sprite.png', 'logo-middle', );
$logo-name: 'logo';
$logo-x: 515px;
$logo-y: 147px;
$logo-offset-x: -515px;
$logo-offset-y: -147px;
$logo-width: 115px;
$logo-height: 48px;
$logo-total-width: 805px;
$logo-total-height: 450px;
$logo-image: 'sprite.png';
$logo: (515px, 147px, -515px, -147px, 115px, 48px, 805px, 450px, 'sprite.png', 'logo', );
$menu-name: 'menu';
$menu-x: 656px;
$menu-y: 321px;
$menu-offset-x: -656px;
$menu-offset-y: -321px;
$menu-width: 16px;
$menu-height: 16px;
$menu-total-width: 805px;
$menu-total-height: 450px;
$menu-image: 'sprite.png';
$menu: (656px, 321px, -656px, -321px, 16px, 16px, 805px, 450px, 'sprite.png', 'menu', );
$quote-name: 'quote';
$quote-x: 781px;
$quote-y: 51px;
$quote-offset-x: -781px;
$quote-offset-y: -51px;
$quote-width: 24px;
$quote-height: 24px;
$quote-total-width: 805px;
$quote-total-height: 450px;
$quote-image: 'sprite.png';
$quote: (781px, 51px, -781px, -51px, 24px, 24px, 805px, 450px, 'sprite.png', 'quote', );
$routs-name: 'routs';
$routs-x: 194px;
$routs-y: 77px;
$routs-offset-x: -194px;
$routs-offset-y: -77px;
$routs-width: 179px;
$routs-height: 179px;
$routs-total-width: 805px;
$routs-total-height: 450px;
$routs-image: 'sprite.png';
$routs: (194px, 77px, -194px, -77px, 179px, 179px, 805px, 450px, 'sprite.png', 'routs', );
$star-name: 'star';
$star-x: 625px;
$star-y: 321px;
$star-offset-x: -625px;
$star-offset-y: -321px;
$star-width: 16px;
$star-height: 16px;
$star-total-width: 805px;
$star-total-height: 450px;
$star-image: 'sprite.png';
$star: (625px, 321px, -625px, -321px, 16px, 16px, 805px, 450px, 'sprite.png', 'star', );
$star-hover-name: 'star_hover';
$star-hover-x: 781px;
$star-hover-y: 90px;
$star-hover-offset-x: -781px;
$star-hover-offset-y: -90px;
$star-hover-width: 16px;
$star-hover-height: 16px;
$star-hover-total-width: 805px;
$star-hover-total-height: 450px;
$star-hover-image: 'sprite.png';
$star-hover: (781px, 90px, -781px, -90px, 16px, 16px, 805px, 450px, 'sprite.png', 'star_hover', );
$twitter-name: 'twitter';
$twitter-x: 570px;
$twitter-y: 299px;
$twitter-offset-x: -570px;
$twitter-offset-y: -299px;
$twitter-width: 40px;
$twitter-height: 41px;
$twitter-total-width: 805px;
$twitter-total-height: 450px;
$twitter-image: 'sprite.png';
$twitter: (570px, 299px, -570px, -299px, 40px, 41px, 805px, 450px, 'sprite.png', 'twitter', );
$twitter-hover-name: 'twitter_hover';
$twitter-hover-x: 515px;
$twitter-hover-y: 299px;
$twitter-hover-offset-x: -515px;
$twitter-hover-offset-y: -299px;
$twitter-hover-width: 40px;
$twitter-hover-height: 41px;
$twitter-hover-total-width: 805px;
$twitter-hover-total-height: 450px;
$twitter-hover-image: 'sprite.png';
$twitter-hover: (515px, 299px, -515px, -299px, 40px, 41px, 805px, 450px, 'sprite.png', 'twitter_hover', );
$vk-name: 'vk';
$vk-x: 749px;
$vk-y: 210px;
$vk-offset-x: -749px;
$vk-offset-y: -210px;
$vk-width: 40px;
$vk-height: 41px;
$vk-total-width: 805px;
$vk-total-height: 450px;
$vk-image: 'sprite.png';
$vk: (749px, 210px, -749px, -210px, 40px, 41px, 805px, 450px, 'sprite.png', 'vk', );
$vk-hover-name: 'vk_hover';
$vk-hover-x: 645px;
$vk-hover-y: 147px;
$vk-hover-offset-x: -645px;
$vk-hover-offset-y: -147px;
$vk-hover-width: 40px;
$vk-hover-height: 41px;
$vk-hover-total-width: 805px;
$vk-hover-total-height: 450px;
$vk-hover-image: 'sprite.png';
$vk-hover: (645px, 147px, -645px, -147px, 40px, 41px, 805px, 450px, 'sprite.png', 'vk_hover', );
$waves-name: 'waves';
$waves-x: 625px;
$waves-y: 299px;
$waves-offset-x: -625px;
$waves-offset-y: -299px;
$waves-width: 81px;
$waves-height: 7px;
$waves-total-width: 805px;
$waves-total-height: 450px;
$waves-image: 'sprite.png';
$waves: (625px, 299px, -625px, -299px, 81px, 7px, 805px, 450px, 'sprite.png', 'waves', );
$spritesheet-width: 805px;
$spritesheet-height: 450px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($cheap, $client, $drop, $drop-hover, $fb, $fb-hover, $guide, $heart, $heart-hover, $leaf, $leaf-hover, $logo-big, $logo-middle, $logo, $menu, $quote, $routs, $star, $star-hover, $twitter, $twitter-hover, $vk, $vk-hover, $waves, );
$spritesheet: (805px, 450px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
