%text{
	color: $primary-color__text;
	font-size: $font-size__small;
	line-height: $primary-line-height;
	text-align: center;
}
body{
	min-width: 320px;
	margin: 0 auto;
	font-family: $primary-font-family, sans-serif;
	}

* {
	box-sizing: border-box;
}

img {
	border: 0;
	max-width: 100%; //was min-height
    min-height: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: $primary-color__text;
}

.wrap {
	min-width: 290px;
	margin: 50px 15px;
	@media (min-width: 740px){
		margin: 50px 30px;
	}
	@media (min-width: 1300px){
		margin: 100px 100px;
	}
}

.block__title{
	@include block__title($font-size__title, center, 
		$primary-color__title, 
		$text-upper);
	margin-bottom: 50px;
	text-align: center;	
	position: relative;
	&:before{
		position: absolute;
		display: inline-block;	
		transform: translateX(-50%);
	    left: 50%;
	    top: -30px;
		content: '';
		@include sprite($waves);
		@media (min-width: 1300px){
			top: -50px;
			margin-bottom: 70px;
		}
	}
}
.small-title{
	@include block__title($font-size__small-title, left, 
		$primary-color__title, $text-upper);
	position: relative;
	margin: $margin-smalltitle;
	&:before{
		@extend .block__title:before;
		left: 0;
		transform: none;
	}
}

