include ../mixins/_mixins
section.about-us
	.wrap.about-us__wrap
		.about-us__text-wrap
			h3.small-title.about-us__text-title Про нас 
			p.about-us__text-text Пара студентів в 2008 року випадково потрапила в гори, після чого вони почали дивитись на світ інакше. В 2015 після закінчення ВНЗ, вирішили ділитись емоціями з людьми і відкрити свій турклуб. В перші роки провели всього 2 мандрівки. На сьогоднішній день проведено вже більше 20 походів. В 2017 році відкрили нові види активного відпочинку: веломандри та сплави на Дністрі
			a.btn__about-us(href='_about-us.html') Читати далі
		.about-us__img-wrap
			.about-us__img-big
				img(src='img/about-us_big.jpg')
			.about-us__img-small
				img(src='img/about-us_small.jpg')