include ../mixins/_mixins
footer.page-footer
	.wrap.footer-wrap
		p.footer-text All rights reserved 2017
		-var i = ["icon-soc_fb", "icon-soc_tw", "icon-soc_vk"];
		for name in i
			a(class= name href="error.html")
		a.footer-tel(href='+38063111111') 063 11 11 111
	sript(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')