include ../mixins/_mixins
footer.page-footer
	.wrap
		.footer-form
			h2.footer-form__title Підписатись
			.footer-form__text Підпишіться на наші новини
			form.footer-form--wrap
				+contact-form("text", "Ваше ім'я", "name")
				+contact-form("tel", "Ваш телефон", "phone")
				+contact-form("email", "Ваша пошта", "email")
				input.btn-footer(value='Надіслати', type='submit', name='submit', required)
	.footer-bottom--wrap
		p.footer-text All rights reserved 2017
		.footer-icon
			-var i = ["icon-soc_fb", "icon-soc_tw", "icon-soc_vk"];
			each name in i
				a(class= 'footer--' + name href="error.html")
		a.footer-tel(href='tel:+38063111111') 063 11 11 111
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
	script(type="text/javascript" src="js/slick/slick.min.js")
	script(type="text/javascript" src="js/maskedinput.js")
	//- albom
	//- script(src="js/gammagallery/modernizr.custom.70736.js")
	//- script(src="js/gammagallery/jquery.masonry.min.js")
	//- script(src="js/gammagallery/jquery.history.js")
	//- script(src="js/gammagallery/js-url.min.js")
	//- script(src="js/gammagallery/jquerypp.custom.js")
	//- script(src="js/gammagallery/gamma.js")

	script(src="js/simplelight/simple-lightbox.min.js")
	script(type="text/javascript" src="js/js.js")