include ../mixins/_mixins
section
	.wrap 
		h2.block__title Галерея
		gamma.gamma-container.gamma-loading#gamma-container
			ul.gamma-gallery
				li
					div(data-alt="img01" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
						div(data-src="img/gallery1.JPG" data-min-width="1300")
						div(data-src="img/gallery1-middle.jpg" data-min-width="700")
						<div data-src="img/gallery1-small.jpg" data-min-width="140"></div>
						noscript
							img(src='img/gallery1-small.jpg' alt="img01")
				li
					div(data-alt="img02" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
						div(data-src="img/gallery2.JPG" data-min-width="1300")
						div(data-src="img/gallery2-middle.jpg" data-min-width="700")
						<div data-src="img/gallery2-small.jpg" data-min-width="140"></div>
						noscript
							img(src='img/gallery2-small.jpg' alt="img02")
				li
					div(data-alt="img03" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
						div(data-src="img/gallery3.JPG" data-min-width="1300")
						div(data-src="img/gallery3-middle.jpg" data-min-width="700")
						<div data-src="img/gallery3-small.jpg" data-min-width="140"></div>
						noscript
							img(src='img/gallery3-small.jpg' alt="img03")
				li
					div(data-alt="img04" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
						div(data-src="img/gallery4.JPG" data-min-width="1300")
						div(data-src="img/gallery4-middle.jpg" data-min-width="700")
						<div data-src="img/gallery4-small.jpg" data-min-width="140"></div>
						noscript
							img(src='img/gallery4-small.jpg' alt="img04")
				li
					div(data-alt="img05" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
						div(data-src="img/gallery5.JPG" data-min-width="1300")
						div(data-src="img/gallery5-middle.jpg" data-min-width="700")
						<div data-src="img/gallery5-small.jpg" data-min-width="140"></div>
						noscript
							img(src='img/gallery5-small.jpg' alt="img05")
				li
					div(data-alt="img06" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
						div(data-src="img/gallery6.JPG" data-min-width="1300")
						div(data-src="img/gallery6-middle.jpg" data-min-width="700")
						<div data-src="img/gallery6-small.jpg" data-min-width="140"></div>
						noscript
							img(src='img/gallery6-small.jpg' alt="img06")