include ../mixins/_mixins
section
	.wrap.container
		h2.block__title Галерея
		.gallery
			a(href="img/gallery1.JPG" alt="photo1" class="big")
				img(src="img/gallery1-middle.jpg" title="Image 1")
			a(href="img/gallery2.JPG" alt="photo2" class="big")
				img(src="img/gallery2-middle.jpg" title="Image 2")
			a(href="img/gallery3.JPG" alt="phot31" class="big")
				img(src="img/gallery3-middle.jpg" title="Image 3")
			a(href="img/gallery4.jpg" alt="photo4" class="big")
				img(src="img/gallery4-middle.jpg" title="Image 4")
			a(href="img/gallery5.jpg" alt="photo5" class="big")
				img(src="img/gallery5-middle.jpg" title="Image 5")
			a(href="img/gallery6.JPG" alt="photo6" class="big")
				img(src="img/gallery6-middle.jpg" title="Image 6")
							
			.clear