include ../mixins/_mixins
section
	.wrap
		h2.block__title Чому саме ми
		.block__content--flex
			+how-work('1', 'Досвідчені гіди', "Над організацією та проведенням походу працює ціла команда друзів шалено закоханих в гори і в свою роботу.")
			+how-work('2', "Чудові маршрути", "З кожним роком додаються нові маршрути в усе більш цікаві і важкодоступні місця! Буде цікаво!") 
			+how-work('3', 'Доступні ціни', "Ми хочемо, щоб люди полюбили гори так, як ми! Тому намагаємося утримувати ціну на максимально бюджетному рівні.")
			+how-work('4', "Дружній підхід до кожної людини", "Ми намагаємлсь врахувати всі побажання наших туристів, щоб вони почувались єдиною командою") 
			

	