include ../mixins/_mixins
section
	.wrap
		h2.block__title Наш журнал
		.journal__content-wrap
			+journal('img/journal1.jpg', 'heart', 'one love', 'Наша любов до гір безмежна', 'Гори можна любити до безтями або не любити взагалі — третього не дано. Гірські походи — це стиль життя, це своєрідний наркотик'
			)
			+journal('img/journal2.JPG', 'leaf', 'forest', 'Зелень у наших жилах', 'Ліс - місце відпочинку, прийємної прохолоди влітку та казка взимку. Ніде емоції так не переповнюють як в лісі. Ти наче частинка природи і в той же час лише гість'
			) 	
			+journal('img/journal3.JPG', 'drop', 'water' , 'Небо на землі', "На воду можна дивитись вічно. Бачити своє відображення, красу довкола в іншому, *паралельному* світі, доторкнутись до неї, проковтнути її прозору живильну силу"
				)