include ../mixins/_mixins
section.order
	.wrap
		h3.small-title Бажаєте мандрувати?
		p.order-toure__text Подивіться на світ під ішим кутом зору. Мандруйте разом з нами!
		form
			+contact-form('text', "Ваше ім'я", 'name')
			+contact-form('tel', "Ваш телефон", 'phone')
			input.btn(value='Замовити зараз', type='submit', name='submit', required)
		//- p.material-icons.note-text lock_outline Ваші дані не передаватимуться третім особам
			
			

	