include ../mixins/_mixins
section
	.wrap
		h2.block__title Відкриваємо Карпати
		.block__content-wrap
			.toure-text__wrap
				h3.small-title.about-us__text-title Озерами Свидовця
				p.main-text.about-us__text-text Третій за висотою хребет у Карпатах — популярний об’єкт пішохідного та велотуризму. Що вам більше подобається — високогірні озера, водоспади чи безкраї краєвиди на гори? На Свидовці є все! Свидовецька магія: висока трава, корівки і оксамитові схили. Округла форма гір Свидовецького хребта та особливий рослинний світ створюють по-справжньому неповторні краєвиди. Особливо влітку, коли над хребтом швидко пливуть дощові сіро-сині хмари, а сонце де-не-де випускає яскравий промінь на оксамитове море високої трави, що її колише вітер.
				p.main-text.about-us__text-text Свидовецька магія: висока трава, корівки і оксамитові схили. Округла форма гір Свидовецького хребта та особливий рослинний світ створюють по-справжньому неповторні краєвиди. Особливо влітку, коли над хребтом швидко пливуть дощові сіро-сині хмари, а сонце де-не-де випускає яскравий промінь на оксамитове море високої трави, що її колише вітер.
				a.btn.btn__about-us(href='error.html') Читати далі
			.toure__img-wrap
				.about-us__img-big
					a(src='img/tour.jpg')
	
