include ../mixins/_mixins
section.tours
	.wrap
		h2.block__title Мандруйте з нами
		.block__content-wrap
			+tour-list("Чорногора", "Похід по найвищому й одному з найкрасивіших хребтів українських Карпат. Місце надзвичайних краєвидів чарівної природи та багатої історії.", "1900", "1300")
			+tour-list("Свидовець", "Один із найвищих гірських масивів Карпат. Масив широких полонин, холодних озер і далеких краєвидів.", "2000", "1300")
			+tour-list("Марамороси", "Гуцульські Альпи та один із наймальовничиших масивів українських Карпат, красу якого створює висота, геологічна будова та глибокі долини.", "2300", "1700")
			+tour-list("Околиці Синевира", "Серце Карпат - мальовниче озеро, повите легендами та туманами", "1200", "900")
			+tour-list("Ґорґани", "Унікальний гірський масив, який сильно відрізняється своїм виглядом від решти Українських Карпат", "180", "1200")

	