include ../mixins/_mixins
section.tour
	.wrap.wrap-tour
		h2.block__title Мандруйте з нами
		.toure__content-wrap
			+tour-list("first", "Чорногора", "Місце прекрасних краєвидів чарівної природи та багатої історії.", "1900₴", "1300")
			+tour-list("second", "Свидовець", "Масив широких полонин, холодних озер і далеких краєвидів.", "2000₴", "1300")
			+tour-list("third", "Марамороси", "Гуцульські Альпи, красу якого створює висота, геологічна будова та глибокі долини.", "2300₴", "1700")
			+tour-list("fourth", "Синевир", "Серце Карпат - мальовниче озеро, повите легендами та туманами", "1200", "900")
			+tour-list("fifth", "Ґорґани", "Унікальний гірський масив, який сильно відрізняється своїм виглядом від решти Українських Карпат", "1800₴", "1200")

	