extends layouts/_layout.pug
block variables
	-var currentPage='головна'
block prepend head
	meta(charset='UTF-8')
	+head-meta(
	'Головна | Стерті черевики'
	)

block main
	include includes/_about-us
	include includes/_journal
	include includes/_order_toure
	include includes/_how-work
	include includes/_toure-list
	include includes/_galerry
	include includes/_feedback